Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: '*'
HeaderFilterRegex: '.*trevrpc-c/(include|src)/.*'
FormatStyle: file
