/.env
/.envrc
/docker-compose*

# agents
.agents/
.claude/
.codex/
.cache/

# nix
/build/
/result*
/.direnv/

# rust
/target/
/trevrpc-rust/target/

# go
/trevrpc-go/bin/

# javascript
/trevrpc-js/node_modules/
/trevrpc-js/build/
