/.env
/.envrc
/docker-compose*

# agents
.agents/
.claude/
.codex/
.cache/

# nix
/build/
/result*
/.direnv/

# rust
/target/
/trevrpc-rust/target/
/bench/target/

# go
/trevrpc-go/bin/

# javascript
node_modules/
/trevrpc-js/build/

# kotlin
/trevrpc-kotlin/.gradle/
/trevrpc-kotlin/.kotlin/
/trevrpc-kotlin/build/
/trevrpc-kotlin/**/build/
/trevrpc-kotlin/**/target/

# c
core.*
/trevrpc-c/build/

# cpp
/trevrpc-cpp/build/

# python
/.venv
/dist
/.ruff_cache
__pycache__
